<!--HACIENDO PAGINA CON CAJAS--> 
{% load staticfiles %}
<!doctype html>
<head>
	<meta charset="utf-8">
	<title> El nombre del taller</title>
	<link rel="stylesheet" href="{% static 'css/estilos.css'%}" >
	<img src="{% static "andes.jpg" %}" alt="AQUI DEBE IR LA IMAGEN"/>
</head>
<script type="text/ecmascript">
	function sumar() {
	var n1 =document.getElementById("a").value;
	var n2 =document.getElementById("b").value;
	var n3 =(parseInt(n1)+parseInt(n2));
	c.value=n3;
	
	}
	function restar() {
	var n4 =document.getElementById("a1").value;
	var n5 =document.getElementById("b1").value;
	var n6 =(parseInt(n4)-parseInt(n5));
	d.value=n6;
	
	}
</script>

<body class="fondo">
<p id="demo"></p>
		</br></br></br>
		</br></br></br>
<style >

body {
	background:#ffffff url("andes.jpg") no-repeat fixed top center;

	}

</style>
	<div>
		<h1>.</h1>
		<h1><center>Tutorial1 BIG DATA</center></h1>
		<h2 text-align: center ">Tutorial1 BIG DATA</h2>
		<H2 class="centrar">Diva Martınez Laverde, Francy J. Pineda, Christian Poveda Ruiz</H2>
		<H2 class="centrar"> GRUPO No:2</H2>
		<H3 class="centrar">Universidad de los Andes, Bogota, Colombia</H3>
		
	</div>

<p>
<!--
<label for="a"></label>
<input type="text" name="a" id="a">

<label for="b"></label>
<input type="text" name="b" id="b">
-->
	
Numero  A:<input type="text" name="a" class ="boton2 otro peque" id="a"> 
Numero  A:<input type="text" name="a1" class ="boton2 otro peque" id="a1">	
</br>
Numero  B:<input type="text" name="b" class ="boton2 otro peque" id="b"> 
Numero  B:<input type="text" name="b1" class ="boton2 otro peque" id="b1"> 

</p>
<p>
<!--
<input type="button" onClick="sumar()" name="r" id="r" value="resultado">
<label for="c"></label>
<input type="text" name="c" id="c">
-->
La RTA es:<input type="text"  class="boton2 otro peque" name="c" id="c"> 
La RTA es:<input type="text"  class="boton2 otro peque" name="d" id="d"> 

</p>

<br/>
<p>
<!--HACIENDO LOS BOTONES DE SUMA  PAGINA CON CAJAS-->
<input blue type="button" onClick="sumar()" name="r" id="r"   class="boton negro" value="SUMA"/>

<input blue type="button" onClick="restar()" name="r1" id="r1"   class="boton negro" value="RESTA"/> 
</p> 
	<script scr="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script scr="{% static 'css/estilos.css'%}"></script>

</body>
</html>